.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 70px 70px 0 70px;
}

.list__button {
  padding-bottom: 100px;
}

.list__container {
  max-width: 1280px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(364px, 1fr));
  row-gap: 38px;
  column-gap: 20px;
  padding: 0;
  margin: 0;
  justify-content: center;
}

.list__button {
  margin-top: 60px;
  margin-bottom: 80px;
  width: 100%;
  min-height: 36px;
  background-color: rgba(249, 249, 249, 1);
  border: none;
  border-radius: 6px;
  color: black;
  padding: 0px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
}

.list__button-inactive {
  background-color: rgba(32, 32, 32, 1);
  border: rgba(32, 32, 32, 1);
  height: 140px;
  color: rgba(32, 32, 32, 1);
}

.list__button:hover {
  opacity: 80%;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .list {
    padding: 65px 70px 0 70px;
  }

  .list__button {
    padding-bottom: 0px;
  }

  .list {
    padding: 70px 30px 0px 30px;
  }

  .list__container {
    row-gap: 26px;
    column-gap: 26px;
    grid-template-columns: repeat(auto-fill, minmax(339px, 1fr));
  }

  .list__button-inactive {
    height: 150px;
  }
}

@media screen and (max-width: 400px) {
  .list {
    padding: 47px 10px 0 10px;
  }

  .list__container {
    max-width: 300px;
    gap: 15px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }

  .list__button {
    min-width: 240px;
  }
}