.navigation {
  width: 67.5%;
  top: 0px;
  right: 0px;
  position: absolute;
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 621px;
  z-index: 5;
}
.navigation__container {
  display: flex;
  flex-direction: column;
  gap: 28px;
  margin-top: 159px;
  align-items: center;
}
.navigation__button-container {
  display: flex;
  margin-bottom: 92px;
  align-items: center;
  gap: 13px;
}
.navigation__link {
  text-decoration: none;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  color: rgba(0, 0, 0, 1);
}
.navigation__link:hover {
  opacity: 70%;
  cursor: pointer;
}
.navigation__link_active {
  text-decoration: underline;
}
.navigation__account {
  text-decoration: none;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  color: rgba(0, 0, 0, 1);
}
.navigation__account-button {
  background-color: rgba(249, 249, 249, 1);
  border-radius: 6px;
  border: 0px;
  padding: 6px 9px;
}
.navigation__account:hover {
  opacity: 70%;
  cursor: pointer;
}
.navigation__close {
  width: 22px;
  height: 22px;
  position: absolute;
  top: 21px;
  right: 31px;
  border: 0px;
  background-color: inherit;
  padding: 0px;
}
.navigation__close:hover {
  opacity: 80%;
  cursor: pointer;
}
@media screen and (max-width: 400px) {
  .navigation {
    width: 100%;
    gap: 444px;
  }
  .navigation__container {
    gap: 24px;
    margin-top: 144px;
  }

  .navigation__close {
    top: 13px;
    right: 24px;
  }
  .navigation__button-container {
    margin-bottom: 48px;
  }
}
