.search {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 75px 70px 10px 70px;
}

.search__container {
  border-bottom: 1px solid rgba(253, 253, 253, 1);
  width: 100%;
  max-height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 69px;
}

.search__form {
  border-radius: 9px;
  background-color: rgba(253, 253, 253, 1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 19px 0 19px;
  min-height: 66px;
  width: 100%;
  gap: 30px;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.1);
}

.search__field {
  display: flex;
  justify-content: space-between;
  width: 80%;
  padding-right: 20px;
  margin: 0 0 5px 0;
  border-right: 1px solid rgba(203, 203, 203, 1);
}

.search__image {
  width: 34px;
  height: 34px;
}

.search__input {
  padding: 0px;
  margin-left: 10px;
  border: 0px;
  width: 100%;
}

.search__initiate {
  display: flex;
  width: 100%;
}

.search__input::placeholder {
  color: rgba(139, 139, 139, 1);
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
}

.search__button {
  max-height: 34px;
  max-width: 34px;
  background-repeat: no-repeat;
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0 0 0 21px;
}

.search__button:hover {
  opacity: 80%;
  cursor: pointer;
}

.search__switch {
  display: flex;
  gap: 14px;
  align-items: center;
  padding: 0 0 5px 0;
  min-height: 40px;
}

.search__toggle {
  border-radius: 16px;
  position: relative;
  width: 36px;
  height: 20px;
  border: none;
  outline: none;
  background-color: rgba(61, 220, 132, 1);
  cursor: pointer;
  appearance: none;
}

.search__toggle::after {
  height: 16px;
  width: 16px;
  position: absolute;
  top: 2px;
  right: 2px;
  background-color: white;
  content: "";
  border-radius: 50%;
  transition: 0.3s ease;
}

.search__toggle:checked {
  background-color: black;
}

.search__toggle:checked::after {
  content: "";
  height: 16px;
  width: 16px;
  background-color: rgba(160, 160, 160, 1);
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  transition: 0.3s ease;
  transform: translateX(0);
}

.search__shortfilms {
  color: black;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  margin: 0 7px 0 0;
}

@media screen and (max-width: 800px) {
  .search {
    padding: 80px 30px 10px;
  }

  .search__container {
    padding-bottom: 109px;
    max-width: 708px;
  }

  .search__form {
    padding: 0 15px 0 0;
    min-height: 72px;
    gap: 19px;
  }

  .search__field {
    margin: 0 0 0 20px;
  }

  .search__button {
    height: 34px;
    width: 80px;
    background-repeat: no-repeat;
    border: none;
    background-color: transparent;
    padding: 0;
  }

  .search__shortfilms {
    margin: 0 5px 0 0;
  }


  .search__switch {
    gap: 15px;
    min-height: 40px;
    margin: 0;
  }
}

@media screen and (max-width: 600px) {
  .search {
    padding: 0;
    margin: 45px 10px 0 10px;
    border-bottom: 1px solid rgba(232, 232, 232, 1);
    max-width: 320px;
  }

  .search__container {
    padding: 0;
    margin: 44px 0 100px 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 1);
  }

  .search__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 137px;
    padding: 0;
    box-shadow: none;
    border-radius: 0;
    width: 100%;
    margin: 43px 0 0 0;
    background-color: rgba(255, 255, 255, 1);
  }

  .search__field {
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.1);
    background-color: rgba(253, 253, 253, 1);
    min-height: 72px;
    border-radius: 9px;
    align-items: center;
    padding: 0;
    margin: 0;
    width: 100%;
    border: none;
  }

  .search__image {
    display: none;
  }

  .search__button {
    margin: 0 20px 0 5px;
  }

  .search__initiate {
    width: 100%;
  }

  .search__input {
    margin: 0 0 0 20px;
    width: 100%;
    background-color: rgba(253, 253, 253, 1);
  }

  .search__input::placeholder {
    font-size: 14px;
  }

  .search__switch {
    padding: 0;
    margin: 28px 0 0 0;
    gap: 13px;
    min-height: 20px;
    border-left: 0;
  }

  .search__shortfilms {
    font-size: 11px;
    margin: 0;
  }
}